{{define "serversObjectActiveList-tpl"}}

            <table class="table">
              <thead>
              <tr>
                <th scope="col">Object name</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              {{ if .serverCertList }}
                {{ range .serverCertList }}
                  <tr class="task_id_{{ .Id }}" name="{{ .Id }}">
                    <!-- Hostname -->
                      <td>{{ .Domain }}</td>
                      <!-- Status -->
                      <td>
                        <div class="state-{{ if eq .CertStatus 0 }}valid-certs{{ else if eq .CertStatus 1 }}expired-certs{{ else if eq .CertStatus 2 }}revoked-certs{{ end }}" >
                          {{ if eq .CertStatus 0 }}valid{{ else if eq .CertStatus 1 }}expired{{ else if eq .CertStatus 2 }}revoked{{ end }}
                        </div>
                      </div>
                      </td>
                  </tr>
                {{ end }}
              {{ end }}
            </tbody>
            </table>
{{end}} 