{{define "serversObjectActiveList-tpl"}}

            <table class="table" id="serversObjectActiveListTable">
              <thead>
              <tr>
                <th scope="col" class="sortable-header" onclick="sortTable(0, 'serversObjectActiveListTable')">
                  Object name
                  <span class="sort-arrow" id="arrow-0">▼</span>
                </th>
                <th scope="col" class="sortable-header" onclick="sortTable(1, 'serversObjectActiveListTable')">
                  Status
                  <span class="sort-arrow" id="arrow-1">▼</span>
                </th>
              </tr>
            </thead>
            <tbody>
              {{ if .serverCertList }}
                {{ range .serverCertList }}
                  <tr class="task_id_{{ .Id }}" name="{{ .Id }}">
                    <!-- Hostname -->
                      <td>{{ .Domain }}</td>
                      <!-- Status -->
                      <td>
                        <div class="state-{{ if eq .CertStatus 0 }}valid-certs{{ else if eq .CertStatus 1 }}expired-certs{{ else if eq .CertStatus 2 }}revoked-certs{{ end }}" >
                          {{ if eq .CertStatus 0 }}valid{{ else if eq .CertStatus 1 }}expired{{ else if eq .CertStatus 2 }}revoked{{ end }}
                        </div>
                      </div>
                      </td>
                  </tr>
                {{ end }}
              {{ end }}
            </tbody>
            </table>
{{end}} 