{{define "taskList-tpl"}}

            <table class="table" id="taskListTable">
              <thead>
              <tr>
                <th scope="col" class="sortable-header" onclick="sortTable(0, 'taskListTable')">
                  Task name
                  <span class="sort-arrow" id="arrow-0">▼</span>
                </th>
                <th scope="col" class="sortable-header" onclick="sortTable(1, 'taskListTable')">
                  Status
                  <span class="sort-arrow" id="arrow-1">▼</span>
                </th>
              </tr>
            </thead>
            <tbody>
              {{ if .taskList }}
                {{ range $key, $value := .taskList }}
                  <tr class="task_id_{{ $key }}" name="{{ $key }}">
                    <!-- task name -->
                      <td>{{ $key }}</td>
                      <!-- Status -->
                      <td>
                        <div class="state-{{ if $value }}online{{ else }}offline{{ end }}" >{{ if $value }}online{{ else }}offline{{ end }}</div>
                      </td>
                  </tr>
                {{ end }}
              {{ end }}
            </tbody>
            </table>
          
{{end}}