{{template "header-tpl" .}}
<!-- {{template "menu-tpl" .}} -->
{{template "body-tpl" .}}

<!-- <div class="containers"> -->
  <div class="ascii-logo">
    <pre class="ascii-art">
████████╗██╗     ███████╗███████╗
╚══██╔══╝██║     ██╔════╝██╔════╝
   ██║   ██║     ███████╗███████╗
   ██║   ██║     ╚════██║╚════██║
   ██║   ███████╗███████║███████║
   ╚═╝   ╚══════╝╚══════╝╚══════╝
   Public Key Infrastructure      
    </pre>
  </div>
  <div class="core-login">
    <form class="" 
      hx-post="/login" 
      hx-target="#body" 
      hx-ext="json-enc-custom" 
      parse-types="true"
      hx-on::after-request="
        if (event.detail.xhr.responseText) {
          try {
            const response = JSON.parse(event.detail.xhr.responseText);
            if (response.status === 'error') {
              Swal.fire({
                showClass: { popup: 'animate__animated animate__fadeInUp animate__fast' },
                hideClass: { popup: 'animate__animated animate__fadeOutDown animate__fast' },
                customClass: 'custom-alert',
                icon: 'error',
                title: 'Ошибка',
                text: response.message,
                confirmButtonColor: '#3085d6'
              });
            } else if (response.status === 'success' && response.redirect) {
              window.location.href = response.redirect;
            }
          } catch (e) {
            console.error('Ошибка при обработке ответа:', e);
          }
        }
      ">
      <label for="inputUser" id= "" class="form_lable" >Login</label>
      <div class="input_border color-form-servers">
        <div class="row g-3 form_center_login">
          <div class="col">
              <input type="text" class="c_input login-input" id="username" name="username" placeholder="User" required>
          </div>
        </div>
        <div class="row g-3 form_center_login">
          <div class="col">
            <input type="password" class="c_input login-input" id="password" name="password" placeholder="Password" required>
          </div>
        </div>
        <div class="row g-3 form_center_login">
          <div class="col">
            <button type="submit" class="btn-custom btn-custom-login">Login</button>
          </div>
        </div>
      </div>
    </form>
    <form class="" 
      hx-get="/overview" 
      hx-target="#body" 
      hx-ext="json-enc-custom" 
      parse-types="true"
      hx-push-url="true"
      hx-on::after-request="
        if (event.detail.xhr.responseText) {
          try {
            const response = JSON.parse(event.detail.xhr.responseText);
            if (response.status === 'error') {
              Swal.fire({
                showClass: { popup: 'animate__animated animate__fadeInUp animate__fast' },
                hideClass: { popup: 'animate__animated animate__fadeOutDown animate__fast' },
                customClass: 'custom-alert',
                icon: 'error',
                title: 'Ошибка',
                text: response.message,
                confirmButtonColor: '#3085d6'
              });
            }
          } catch (e) {}
        }
      ">
      <div class="input_border_login color-form-servers">
        <div class="row g-3 form_center_login">
          <div class="col">
            <button type="submit" class="btn-custom btn-custom-login">Overview</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="qr">
    <div class="qr-art">
      <!-- <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=https://github.com/addspin/tlss&color=858585&bgcolor=212529&format=svg" alt="QR Code for GitHub"> -->
       <!-- <img src="/static/svg/qr.svg" alt="QR Code for GitHub"> -->
    </div>
  </div>
  <div class="footer">
    <a href="https://github.com/addspin/tlss" target="_blank" style="text-decoration: none;">Created by addspin.</a>
  </div> 
<!-- index end template -->
{{template "footer-tpl" .}}
<!-- </div>
</body>
</html> -->
