{{template "index" .}}

<div class="containers">
  <div class="core">
    <form class="" hx-post="/add_server" hx-target="#response" hx-ext="json-enc">
      <label for="inputUser" id= "" class="form_lable" >Connect new server</label>
      <div class="input_border">
        <div class="row g-3 form_center">
          <div class="col-md-6">
              <input type="text" class="c_input" id="username" name="username" placeholder="User" required>
          </div>
          <div class="col-md-6 ">
            <input type="text" class="c_input " id="hostname" name="hostname" placeholder="Hostname or ip" required>
          </div>
          <div class="col-md-6">
            <input type="password" class="c_input" id="password" name="password" placeholder="Password" required>
          </div>
          <div class="col-md-6">
            <input type="text" class="c_input " id="tlssSSHport" name="tlssSSHport" placeholder="SSH port" required>
          </div>
          <div class="col-md-6">
            <input type="text" class="c_input" id="path" name="path" placeholder="Path certs" required>
          </div>
          <!-- <div>Создайте пользователя на сервере и используйте его логин и пароль для подключения</div> -->
          <div class="col-12">
            <button type="submit" class="btn btn-primary mt-2">Add</button>
          </div>
        </div>
      </div>
    </form>
  </div>
    
  
  <div id="response" class="servers_table">
    {{template "serverList" .}}
  </div>

<!-- index end template -->
</div>
</body>
</html>
