{{template "index" .}}

<div class="containers">
  <div class="core">
    <form class="" >
      <label for="inputUser" id= "form_lable" class="form_lable" >Connect new server</label>
      <div class="input_border">
        <div class="row g-3 form_center">
          <div class="col-md-6">
              <input type="text" class="c_input" id="inputUser" placeholder="User">
          </div>
          <div class="col-md-6 ">
            <input type="text" class="c_input " id="inputHostname" placeholder="Hostname or ip">
          </div>
          <div class="col-md-6">
            <input type="password" class="c_input" id="inputPassword" placeholder="Password">
          </div>
          <div class="col-md-6">
            <input type="text" class="c_input" id="inputPath" placeholder="Path config">
          </div>
          <!-- <div>Создайте пользователя на сервере и используйте его логин и пароль для подключения</div> -->
          <div class="col-12">
            <button type="submit" class="btn btn-primary mt-2" hx-post="/api/add_server" hx-target="this" hx-swap="outerHTML">Add</button>
          </div>
        </div>
      </div>
    </form>
  </div>
    

<!-- index end template -->
</div>
</body>
</html>
