{{define "serverList"}}

    <table class="table">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Hostname</th>
        <th scope="col">Path certs</th>
      </tr>
    </thead>
    <tbody>

    
      <tr>
        <th>
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        </th>
        {{ range .data }}
          <td>{{ .Hostname }}</td>
          <td>{{ .CertConfigPath }}</td>
        {{ end }}
      </tr>

    </tbody>
    </table>


{{end}}