{{define "certCAList-tpl"}}
            <table class="table table-certs" id="certCAListTable">
              <thead>
              <tr>
                <th scope="col" class="sortable-header" onclick="sortTable(0, 'certCAListTable')">
                  Common name
                  <span class="sort-arrow" id="arrow-0">▼</span>
                </th>
                <th scope="col" class="sortable-header" onclick="sortTable(1, 'certCAListTable')">
                  Type CA
                  <span class="sort-arrow" id="arrow-1">▼</span>
                </th>
                <th scope="col" class="sortable-header" onclick="sortTable(2, 'certCAListTable')">
                  Create date
                  <span class="sort-arrow" id="arrow-2">▼</span>
                </th>
                <th scope="col" class="sortable-header" onclick="sortTable(3, 'certCAListTable')">
                  Expire date
                  <span class="sort-arrow" id="arrow-3">▼</span>
                </th>
                <th scope="col" class="sortable-header" onclick="sortTable(4, 'certCAListTable')">
                  Expire in
                  <span class="sort-arrow" id="arrow-4">▼</span>
                </th>
                <th scope="col" class="sortable-header th-text-center" onclick="sortTable(5, 'certCAListTable')">
                  Algorithm
                  <span class="sort-arrow" id="arrow-5">▼</span>
                </th>
                <th scope="col" class="sortable-header" onclick="sortTable(6, 'certCAListTable')">
                  Key size
                  <span class="sort-arrow" id="arrow-6">▼</span>
                </th>
                <th scope="col" class="sortable-header" onclick="sortTable(7, 'certCAListTable')">
                  Status
                  <span class="sort-arrow" id="arrow-7">▼</span>
                </th>
                <th scope="col" class="th-text-center">Recreate</th>
                <th scope="col">Revoke\Recreate</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Take cert</th>
              </tr>
            </thead>
            <tbody>
              {{ if .certList }}
                {{ range .certList }}
                  <tr class="cert_id_{{ .Id }}" name="{{ .Id }}">
                    <!-- Entity -->
                      <td>{{ .CommonName }}</td>
                      <!-- Type CA -->
                      <td>{{ .TypeCA }}</td>
                      <!-- Create date -->
                      <td>{{ .CertCreateTime }}</td>
                      <!-- Expire date -->
                      <td>{{ .CertExpireTime }}</td>
                      <!-- Expire in -->
                      <td>{{ .DaysLeft }} days</td>
                      <!-- Algorithm -->
                      <td class="th-text-center">{{ .Algorithm }}</td>
                      <!-- Key length -->
                      <td>{{ .KeyLength }} bits</td>
                      <!-- Status -->
                      <td>
                        <div class="state-{{ if eq .CertStatus 0 }}valid-certs{{ else if eq .CertStatus 1 }}expired-certs{{ else if eq .CertStatus 2 }}revoked-certs{{ end }}" >
                          {{ if eq .CertStatus 0 }}valid{{ else if eq .CertStatus 1 }}expired{{ else if eq .CertStatus 2 }}revoked{{ end }}
                        </div>
                      </td>
                      <!-- Recreate -->
                      <td class="th-text-center">{{ if eq .Recreate true }}Yes{{ else }}No{{ end }}</td>
                      <!-- Revoke -->
                       <td>
                        <select id="revoke_reason_{{ .Id }}" name="reason_revoke" class="select_certs_revoke" type="text">  
                          <option value="keyCompromise">keyCompromise</option>
                          <option value="superseded">superseded</option>
                          <option value="unspecified" selected>unspecified</option>
                        </select>
                      </td>
                      <td>
                        <button type="submit" class="select_cert_revoke" hx-trigger='revoke' hx-post="/revoke_ca_certs" hx-target='{{ if eq .TypeCA "Root" }}tbody{{ else }}.cert_id_{{ .Id }}{{ end }}' hx-ext="json-enc-custom" parse-types="true" 
                        hx-vals='js:{
                            "TypeCA": "{{ .TypeCA }}",
                            "ReasonRevoke": document.getElementById("revoke_reason_{{ .Id }}").value
                        }'
                        onClick="Swal.fire({
                            showClass: {
                                popup: `
                                  animate__animated
                                  animate__fadeInUp
                                  animate__fast
                                `
                            },
                            hideClass: {
                                popup: `
                                  animate__animated
                                  animate__fadeOutDown
                                  animate__fast
                                `
                            },
                            customClass: 'custom-alert',
                            input: 'text',
                            title: '{{ if eq .TypeCA "Root" }}You are revoking Root CA, all certificates signed by this CA will be revoked, and revoked certificates will be deleted!{{ else }}You are revoking Sub CA, all certificates signed by this Sub CA will be revoked, and revoked certificates will be deleted!{{ end }}', 
                            text: 'To confirm, enter {{ .CommonName }}', 
                            showCancelButton: true,
                            confirmButtonColor: '#983636',
                            cancelButtonColor: '#3085d6',
                            confirmButtonText: 'Yes, revoke!',
                            inputValidator: (value) => {
                                if (value != '{{ .CommonName }}') {
                                    return 'You entered an invalid certificate name, enter {{ .CommonName }}';
                                }
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                htmx.trigger(this, 'revoke'); 
                            }
                        });"
                        >Revoke</button>
                      </td>
                      <td></td>
                      <!-- Take cert -->
                      <td>
                        <div class="btn-group">
                          <button type="button" class="select_cert_take dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/static/svg/take_cert.svg" alt="Select format" style="cursor: pointer;" width="15" height="15">
                            Select format
                          </button>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item-take" href="/take_cert?typeCA={{ .TypeCA }}&format=zip">zip</a></li>
                          </ul>
                        </div>
                      </td>
                  </tr>
                {{ end }}
              {{ else }}
                <tr>
                  <td colspan="13">No CA certificates found</td>
                </tr>
              {{ end }}
            </tbody>
            </table>

          </div>
        </div>
      </div>
{{end}}