.core-servers {
    padding-left: 25%;
    padding-right: 25%;
    font-size: 0.8rem;
}
.core-certs {
    padding-left: 0%;
    padding-right: 0%;
    font-size: 0.8rem;
}
.left-core {
    padding-left: 55%;
    padding-right: 0%;
    font-size: 0.8rem;
}

.form_center {
    padding-left: 5%;
    padding-right: 5%;
}
.c_input {
    border: 1px solid #a99ee8;
    border-color: rgb(128, 119, 176);
    color: #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    width: 100%;
    /* font: -webkit-small-control; */
    /* flex: 100%; */
}

.c_input:focus {
    outline: none;
    border-color: #bcb0ff;

}

.input_border {
    text-align: left;
    border: 2px solid #a99ee8;
    border-color: rgb(128, 119, 176);
    padding: 2%;
    border-radius: 5px;
    /* border-left: none;
    border-right: none; */

}
.form_lable {
    position: relative;
    left: 20px;
    top: 10px; 
    z-index: 1;
    background-color: #212529;
    padding-left: 1%;
    padding-right: 1%;
}

.select {
    border: 1px solid #a99ee8;
    border-color: rgb(128, 119, 176);
    color: #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    margin-top: 5px;
    width: 100%;
}
.select_title {
    
}
.indent-line {
    margin-top: 5%;
    margin-bottom: 5%;
}
.indent-40 {
    margin-top: 40%;
}
.indent-5 {
    margin-top: 5%;
}

.switch_label {
    margin-top: 5%;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.btn-container-right {
    text-align: right;
    justify-content: flex-end;
}

.btn-custom {
    background-color: #007bff; /* Синий цвет фона */
    color: white; /* Белый цвет текста */
    border: none; /* Без рамки */
    border-radius: 5px; /* Закругленные углы */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.btn-custom-certs {
    padding: 1px 8%; /* Отступы */
}

.btn-custom:hover {
    background-color: #0056b3; /* Темнее при наведении */
}

.search-input-container {
    padding-left: 28%;
    padding-right: 28%;
    align-content: center;
    padding-top: 1%;
    font-size: 0.8rem;
}

.search-input {
    width: 100%; /* Ширина 100% */
    border: none; /* Без рамки */
    border-bottom: 1px solid #a99ee8; /* Нижняя рамка */
    background-color: transparent; /* Прозрачный фон */
    color: #ffffff; /* Цвет текста */
    transition: border-color 0.3s; /* Плавный переход цвета рамки */
}

.search-input:focus {
    outline: none; /* Убираем обводку */
    border-color: #bcb0ff; /* Цвет рамки при фокусе */
}

.search-input-container-server {
    padding-left: 0%;
    padding-right: 0%;
    align-content: center;
    margin-bottom: 10%;
}

[class^="server_id_"] {


}