@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/static/Inter_18pt-ExtraLight.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap; /* Улучшает производительность загрузки */
}
.color-form-certs {
    color: #a99ee8;
}
.color-form-servers {
    color: #a99ee8;
}
.core-login {
    margin-left: 43%;
    margin-right: 43%;
    font-family: Inter;
    font-weight: 100; 
}
.core-login-logo {
    margin-left:36%;
    padding-right: 36%;
    margin-top: 2%;
    font-family: Inter;
    font-weight: 100; 
}
.core-servers {
    font-family: Inter;
    font-weight: 100; /* regular weight */
}
.core-certs {
    margin-top: 6px;
    padding-left: 0%;
    padding-right: 0%;
    font-family: Inter;
    font-weight: 100;
}
.core-certs-revoke {
    margin-top: 6px;
    padding-left: 0%;
    padding-right: 0%;
    font-family: Inter;
    font-weight: 100;
    width: 120%;
}
.core-ca-certs {
    margin-top: 6px;
    padding-left: 3%;
    padding-right: 10%;
    font-family: Inter;
    font-weight: 100;
}

.core-overview {
    margin-top: 6px;
    padding-left: 3%;
    padding-right: 10%;
    font-family: Inter;
    font-weight: 100;
}

.left-core {
    margin-top: 40px;
    padding-left: 20%;
    padding-right: 0%;
    font-family: Inter;
    font-weight: 100;
}
.left-ca-core {
    padding-left: 20%;
    padding-right: 0%;
    font-family: Inter;
    font-weight: 100;
}
.left-menu-core {       
    padding-left: 0%;
    padding-top: 10px;
    min-height: 100vh;
    width: 250px;
    font-family: Inter;
    font-weight: 100;
    background-color: #212529;
    border-left: 8px solid #1a1e21;
    border-right: 8px solid #1a1e21;
    text-decoration: none;
}
.left-menu {
    gap: 10px;
}
.link-menu-left {
    margin-left: 20px;
    text-decoration: none;
    cursor: pointer;
    color: #6ea8fe;
}
.link-menu-left:hover {
    color: #4f77b2;
    background-color: transparent;
    transition: all 0.1s ease;
}
.link-menu-left.active {
    border-left: 4px solid #ffffff;
    padding-left: 4px;
    color: #4f77b2;
    background-color: transparent;
    transition: all 0.01s ease;
}
.title-menu-left {
    margin-left: 10px;
    width: 100%;
}
.breadcrumb {
    --bs-breadcrumb-margin-bottom: 0rem;
    font-family: Inter  ;
    font-weight: 100;
}
.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}
.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: #0000001a;
    border: solid rgba(0,0,0,.15);
    border-width: 1px 0;
}
.menu-container {
    padding-left: 0%;
    padding-right: 0%;
    font-size: 0.8rem;
    font-family: Inter;
    font-weight: 100;   
}
.form_center {
    padding-left: 5%;
    padding-right: 5%;
}
.form_center_login {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.form_center_entity {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
}
.c_input {
    border: 1px solid #a99ee8;
    border-color: rgb(128, 119, 176);
    color: #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    width: 100%;
}
.c_input:focus {
    outline: none;
    border-color: #bcb0ff;
}
.input_border_login {
    text-align: left;
    border: 1px solid #a99ee8;
    border-color: rgb(128, 119, 176);
    padding: 2%;
    border-radius: 5px;
    background-color: transparent;
    width: 100%;
    margin-top: 5%;
}
.input_border {
    text-align: left;
    border: 1px solid #a99ee8;
    border-color: rgb(128, 119, 176);
    padding: 2%;
    border-radius: 5px;
    background-color: transparent;
    width: 100%;
}
.input_border_button {
    text-align: left;
    border: 1px solid #a99ee8;
    border-color: rgb(128, 119, 176);
    padding: 2%;
    border-radius: 5px;
    background-color: transparent;
    width: 100%;
}
.input_border_button:active {
    background-color: #30363B !important;
}
.input_border_button:focus {
    background-color: #30363B !important;
}
.select_cert_revoke { 
    background: #007bff;
    border-radius: 30px;
    text-align: center;
    width: 5em;
    border: none;
    padding: 0;
}
.select_cert_revoke:hover {
    background: #0056b3;
}
.select_cert_take { 
    background: #007bff;
    border-radius: 30px;
    text-align: center;
    width: 10em;
    border: none;
    padding: 0;
}
.dropdown-item-take {
    display: block; 
    width: 100%;
    font-size: 0.9em;
    font-family: Inter;
    font-weight: 100;
    color: #ffffff;
    text-decoration: none;
    padding-left: 1rem;
    margin: 0 8px;
}
.dropdown-item-take:hover {
    background: #007bff;
    padding-left: 1rem;
    font-family: Inter;
    font-weight: 100;
    font-size: 0.9em;
    width: auto;
    margin: 0 8px;
    border-radius: 5px; /* закругленные углы для лучшего вида */
} 
.select_cert_take:hover {
    background: #0056b3;
}
.dropdown-menu {
    background-color: #212529;
    color: #ffffff;
} 
.dropdown-menu-custom {
    background-color: #181c1f;
    color: #ffffff;
    font-size: 1em;
    border-radius: 0px;
    border-right: none;
    border-top: none;
    border-left: 1px solid #a99ee8;
    border-bottom: none;
    border-color: rgb(128, 119, 176);
    border-radius: 0 5px 5px 0;
    --bs-dropdown-min-width: 9rem;
    --bs-dropdown-padding-y: 1rem;
    --bs-dropdown-item-padding-y: 1rem;
} 
.dropdown-item-custom {
    display: block;
    width: 100%;
    font-size: 1em;
    color: #ffffff;
    text-decoration: none;
    padding-left: 1rem;
}
.dropdown-item-custom:hover {
    background: #1d2226;
    color: #6ea8fe;
    padding-left: 1rem;
    border-radius: 0 5px 5px 0;
}

.dropdown-menu.show {
    color: #ffffff;
} 
.form_lable {
    position: relative;
    left: 20px;
    top: 10px; 
    z-index: 1;
    background-color: #212529;
    padding-left: 1%;
    padding-right: 1%;
}
.select {
    border: 1px solid #a99ee8;
    border-color: rgb(128, 119, 176);
    color: #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #212529;
    margin-top: 5px;
    width: 100%;
}
/* Стиль для select с placeholder */
select[data-placeholder="true"] {
    color: gray;
}
/* Убираем placeholder стиль когда значение выбрано */
select[data-placeholder="false"] {
    color: #ffffff;
}
/* Белый цвет для select при фокусе */
select:focus {
    color: #ffffff;
}
.select_certs_revoke {
    border: 1px solid #a99ee8;
    border-color: rgb(128, 119, 176);
    color: #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: #212529;
    margin-top: 5px;
    width: 100%;
}
.indent-line {
    margin-top: 5%;
    margin-bottom: 5%;
}
.indent-40 {
    margin-top: 40%;
}
.indent-5 {
    margin-top: 5%;
}
.switch_label {
    margin-top: 5%;
}
.btn-container {
    display: flex;
    justify-content: space-between;
}
.btn-container-right {
    text-align: right;
    justify-content: flex-end;
}
.btn-custom {
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    
}
.btn-custom-certs {
    padding: 1px 8%; 
}
.btn-custom-servers {
    padding: 1px 8%; 
}
.btn-custom-login {
    width: 100%;
}
.btn-custom:hover {
    background-color: #0056b3; /* Темнее при наведении */
}
.search-input-container {
    padding-left: 20%;
    padding-right: 30%;
    align-content: center;
    padding-top: 1%;
    font-family: Inter;
    font-weight: 100;
}
.search-input-container-revoke {
    padding-left: 8%;
    padding-right: 8%;
    align-content: center;
}
.search-input {
    width: 100%; /* Ширина 100% */
    border: none; /* Без рамки */
    border-bottom: 1px solid #a99ee8; /* Нижняя рамка */
    background-color: transparent; /* Прозрачный фон */
    color: #ffffff; /* Цвет текста */
    transition: border-color 0.3s; /* Плавный переход цвета рамки */
}
.search-input:focus {
    outline: none; /* Убираем обводку */
    border-color: #bcb0ff; /* Цвет рамки при фокусе */
}
.search-input-container-server {
    padding-left: 0%;
    padding-right: 0%;
    align-content: center;
    margin-bottom: 10%;
}
[class^="server_id_"] {
    font-family: Inter;
    font-weight: 100;
    font-size: 0.8rem;
}
[class^="entity_id_"] {
    font-family: Inter;
    font-weight: 100;
    font-size: 0.8rem;
}
[class^="cert_id_"] {
    font-family: Inter;
    font-weight: 100;
    font-size: 0.8rem;
}
[class^="task_id_"] {
    font-family: Inter;
    font-weight: 100;
    font-size: 0.8rem;
}
[class^="oid_id_"] {
    font-family: Inter;
    font-weight: 100;
    font-size: 0.8rem;
}
/* Стили для анимации загрузки */
.time-svg{
    display: none;
    opacity:0;
    transition: opacity 500ms ease-in;
    position: center;
}
.htmx-request .time-svg{
    display: block;
    opacity:1;
}
.htmx-request.time-svg{
    display: block;
    opacity:1;
}
.btn-spinner{
    display: none;
}
.htmx-request .btn-spinner{
    display: block;
    
}
/* tags */
.tags-container {
    margin-bottom: 10px;
} 
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 5px;
}
.tag {
    background: #30363B;
    color: #ffffff;
    padding: 3px 5px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #a99ee8;
    font-size: 0.9em;
}
.tag .close {
    cursor: pointer;
    color: #ffffff;
    background: #4d4d4d;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
}
.tag .close:hover {
    cursor: pointer;
    background: #666666;
}
.tag-text {
    margin-right: 2px;
}
/* Стиль для поля ввода тегов */
.tag-input {
    border: 1px solid #a99ee8;
    border-color: rgb(128, 119, 176);
    color: #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    width: 100%;
}
.tag-input:focus {
    outline: none;
    border-color: #bcb0ff;
}