.nav-menu {
    font-size: 0.8rem;
    font-family: Inter;
    font-weight: 100;
}

.nav-menu a {
    cursor: pointer;
}

.th-text-center {
    text-align: center;
}

.tables_lable {
    font-weight: bold;
    border-bottom: 1px solid #a99ee8;
    color: #ffffff;
}

.th_servers {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #a99ee8;
    color: #ffffff;
    text-align: center;
    padding: 5%;
}
.servers_table {
    padding-left: 20%;
    padding-right: 20%;
    align-content: center;
    padding-top: 3%;
    font-size: 14px;
    font-family: Inter;
    font-weight: 100;
}
.certs_revoke_table {
    align-content: center;
    padding-top: 3%;
    font-size: 14px;
    font-family: Inter;
    font-weight: 100;
}
.table th {
    font-weight: bold;
    font-family: Inter;
    font-variant: all-small-caps;
    font-size: small;
}

.table td, .table th {
    border-bottom: 1px solid #757575;
    color: #ffffff;
}

.trash {
    fill: #fff;
}

.trash:hover {
    fill: #bcb0ff;
}

.btn-trash {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}


.state-online {
    background: #2ba03d;
    border-radius: 30px;
    text-align: center;
    width: 4em;
    border: none;
    padding: 0;
    /* margin-top: 12px;
    margin-bottom: 12px; */
    /* margin-left: 10px; */
    /* box-shadow: 0px 0px 3px 3px rgba(97, 252, 124, 0.25); */
    /* animation: colorPulse 2s infinite alternate; */
}

.state-online-server-certs {
    width: 10px;
    height: 10px;
    background-color: #2ba03d;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5%;
}

.state-offline-server-certs {
    width: 10px;
    height: 10px;
    background-color: #983636;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5%;
}


.state-valid-certs {
    background: #2ba03d;
    border-radius: 30px;
    text-align: center;
    width: 4em;
    border: none;
    padding: 0;
}

.state-revoked-certs     {
    background-color: #983636;
    border-radius: 30px;
    text-align: center;
    width: 4em;
    border: none;
}

.state-expired-certs {
    background: #efa70c;
    border-radius: 30px;
    text-align: center;
    width: 4em;
    border: none;
    padding: 0;
}

@keyframes colorPulse {
    from {
        background: #2ba03d;
    }
    to {    
        background: #3cff5a;
    }
}
.state-offline {
    background: #983636;
    border-radius: 30px;
    text-align: center;
    width: 4em;
    border: none;
    padding: 0;
    /* margin-top: 12px; */
    /* margin-left: 10px; */
    /* box-shadow: 0px 0px 3px 3px #9836368f; */
    /* animation: colorPulseRed 2s infinite alternate; */
}

@keyframes colorPulseRed {
    from {
        background: #983636;
    }
    to {
        background: #c51717;
    }
}

/* библиотека для кастомного аллерта */
.custom-alert {
    container: 'swal2-container',
    popup: 'swal2-popup',
    header: 'swal2-header',
    title: 'swal2-title',
    closeButton: 'swal2-close',
    icon: 'swal2-icon',
    image: 'swal2-image',
    htmlContainer: 'swal2-html-container',
    input: 'swal2-input',
    inputLabel: 'swal2-input-label',
    validationMessage: 'swal2-validation-message',
    actions: 'swal2-actions',
    confirmButton: 'swal2-confirm',
    denyButton: 'swal2-deny',
    cancelButton: 'swal2-cancel',
    loader: 'swal2-loader',
    footer: 'swal2-footer',
    timerProgressBar: 'swal2-timer-progress-bar',
}
.swal2-backdrop-show {
    backdrop-filter: blur(3px);
}
.swal2-confirm {
    background-color: #983636 !important; /* Синий цвет фона */
    color: white ; /* Белый цвет текста */
    border: none ; /* Без рамки */
    border-radius: 5px ; /* Закругленные углы */
    font-size: 16px ; /* Размер шрифта */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s;
    font-family: Inter;
    padding: 0.1em 3em;
}
.swal2-cancel {
    background-color: #007bff !important; /* Синий цвет фона */
    color: white ; /* Белый цвет текста */
    border: none ; /* Без рамки */
    border-radius: 5px !important; /* Закругленные углы */
    font-size: 16px !important; /* Размер шрифта */
    cursor: pointer !important; /* Указатель при наведении */
    transition: background-color 0.3s;
    font-family: Inter;
    padding: 0.1em 3em;
}
.swal2-container {
    font-family: Inter;
    font-size: 0.7rem;
    color: #ffffff;
    padding: 0 !important;
     /* height: 0 !important; */
}

.swal2-input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #a99ee8;
    background-color: transparent;
    border-radius: 0;
    padding: 0 !important;
    /* height: 0 !important; */
}   

.swal2-input:focus {
    outline: none;
    box-shadow: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #bcb0ff;
    background-color: transparent;
}

.swal2-input:active {
    outline: none;
    box-shadow: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #bcb0ff;
    background-color: transparent;
}

.swal2-input:hover {
    outline: none;
    box-shadow: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #bcb0ff;
    background-color: transparent;
}

.swal2-title {
    font-size: 0.9rem;
    font-family: Inter;
    color: crimson
}

.swal2-popup {
    /* background-color: #222326; */
    background-color: #212529;
    border: 1px solid #a99ee8;
    border-color: rgb(128, 119, 176);
    width: fit-content;
    font-size: 0.7rem;
    color: #ffffff;
    font-family: Inter;
}

/* Анимации перехода между страницами */
.htmx-swapping {
    opacity: 0;
    transform: translateY(15px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  }

  .htmx-settling {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease-in, transform 0.3s ease-in;
  }


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #858585;
    padding: 10px 0;
    text-align: center;
    font-family: Inter;
    font-weight: 100;
    font-size: 0.7rem;
    /* border-top: 1px solid rgba(128, 119, 176, 0.3); */
    z-index: 100;
}

.ascii-logo {
    display: flex;
    margin-top: 6%;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
    width: 100%;
    position: relative;
    z-index: 1;
}

.ascii-art {
    color: #858585;
    font-family: monospace;
    margin: 0;
    text-align: left;
    display: inline-block;
    font-weight: 100;
    /* font-family: Inter; */
    font-size: 0.7rem;
    white-space: pre; 
    /* letter-spacing: 0;  */
    line-height: 1.2; 
}
.qr {
    display: flex;
    margin-top: 6%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.qr-art {
    color: #858585;
    font-family: monospace;
    margin: 0;
    font-size: 0.7rem;
    text-align: left;
    display: inline-block;
}