{{define "menu-tpl"}}

<div class="container mx-auto mb-3">
    <ul class="nav-menu nav justify-content-center nav-underline">
      <li class="nav-item">
        <a class="nav-link {{if eq .Title "Index"}}active{{else}}{{end}}" aria-current="page" 
           hx-get="/index" 
           hx-target="#body" 
           hx-swap="innerHTML transition:true" 
           hx-push-url="true">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{if eq .Title "Add server"}}active{{else}}{{end}}" aria-current="page"  
           hx-get="/add_server" 
           hx-target="#body" 
           hx-swap="innerHTML transition:true" 
           hx-push-url="true">Servers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{if eq .Title "Add certs"}}active{{else}}{{end}}" aria-current="page"  
           hx-get="/add_certs" 
           hx-target="#body" 
           hx-swap="innerHTML transition:true" 
           hx-push-url="true">Certs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{if eq .Title "Revoke certs"}}active{{else}}{{end}}" aria-current="page"  
           hx-get="/revoke_certs" 
           hx-target="#body" 
           hx-swap="innerHTML transition:true" 
           hx-push-url="true">Revoke certs</a>
      </li>
    </ul>
  </div> 

{{end}}