{{define "serverList-certs-tpl"}}
  {{ range .serverList }}
    <div class="row-auto">
      <div class="col-auto">
        <button id="server-{{ .Id }}" class="input_border_button mt-1" 
                onclick="var input = document.getElementById('serverId'); 
                         input.value = '{{ .Id }}'; 
                         input.setAttribute('value', '{{ .Id }}'); ">
          {{ .Hostname }}
          <span class="state-{{ if eq .ServerStatus "online" }}online-certs{{ else }}offline-certs{{ end }}"></span>
        </button>
      </div>
    </div>
  {{ end }}
{{end}}