{{define "header-tpl"}}
<!DOCTYPE html>
<html class=""  data-bs-theme="dark" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="css/custom.min.css" />
    <link rel="stylesheet" href="css/input.css" />
    <link rel="stylesheet" href="css/main.css" />
    <script src="js/bootstrap.bundle.js"></script> 
    <!-- <script src="/js/htmx.min.js"></script>
    <script src="js/htmx.org@1.9.12"></script>  -->
    <!-- <script type = "text/javascript" src="js/htmx.min.js.gz"></script> -->
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <!-- <script src="https://unpkg.com/htmx-ext-form-json"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/gh/Emtyloc/json-enc-custom@main/json-enc-custom.js"></script> -->
    <!-- <script src="https://unpkg.com/htmx-ext-json-enc@2.0.0/json-enc.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script  src="/js/ext/json-enc-custom.js"></script>
    <!-- <script  src="/js/ext/json-enc.js"></script> -->
    
</head>
<!-- <body id="body"> -->
    <!-- <div class="container mx-auto mb-3">
      <ul class="nav justify-content-center nav-underline">
        <li class="nav-item">
          <a class="nav-link {{if eq .Title "Index"}}active{{else}}{{end}}" aria-current="page" href="/index">Index</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{if eq .Title "Add server"}}active{{else}}{{end}}" aria-current="page" href="/add_server">Add server</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true" href="/add_server">Add certs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true" href="/add_server">Link</a>
        </li>
      </ul>
    </div> -->
 
  {{end}}