{{define "header-tpl"}}
<!DOCTYPE html>
<html class=""  data-bs-theme="dark" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>

    <!-- Preload критически важных шрифтов -->
    <link rel="preload" href="/fonts/Inter/static/Inter_18pt-ExtraLight.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="css/custom.min.css" />
    <link rel="stylesheet" href="css/input.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/sweetalert2.min.css" />
    <!-- <script src="js/bootstrap.min.js"></script>  -->
    <script src="/js/search-object.js"></script>
    <script src="/js/htmx.min.js"></script>
    <script src="/js/sweetalert2.all.min.js"></script>
    <script  src="/js/ext/json-enc-custom.js"></script>
    <script src="/js/addtag.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
    <!-- <script src="/js/select.js"></script> -->
</head>
  {{end}}