{{define "certRevokeList-tpl"}}
            <table class="table table-certs">
              <thead>
              <tr>
                <th scope="col">Domain</th>
                <th scope="col">Create date</th>
                <th scope="col">Expire in</th>
                <th scope="col">Revoke date</th>
                <th scope="col" class="th-text-center">Algorithm</th>
                <th scope="col">Key length</th>
                <th scope="col">Reason</th>
                <th scope="col">Rollback</th>
                <th scope="col" class="th-text-center">On server</th>
                <th scope="col"></th>
                <th scope="col" class="th-text-center">Remove</th>
              </tr>
            </thead>
            <tbody>
              {{ if .certList }}
                {{ range .certList }}
                  <tr class="cert_id_{{ .Id }}" name="{{ .Id }}">
                    <!-- Domain -->
                      <td>{{ .Domain }}</td>
                      <!-- Create date -->
                      <td>{{ .CertCreateTime }}</td>
                      <!-- Expire in -->
                      <td>{{ .DaysLeft }} days</td>
                      <!-- Revoke date -->
                      <td>{{ .DataRevoke }}</td>
                      <!-- Algorithm -->
                      <td class="th-text-center">{{ .Algorithm }}</td>
                      <!-- Key length -->
                      <td>{{ .KeyLength }} bits</td>
                      <!-- Reason -->
                      <td>{{ .ReasonRevoke }}</td>
                      <!-- Rollback -->
                      <td>
                        <div class="btn-container">
                          <button class="select_cert_revoke"  type="number" hx-trigger='rollback' hx-post="/rollback_cert" hx-swap="none" hx-ext="json-enc-custom" parse-types="true" 
                          id="rollback-btn-{{ .Id }}"
                        hx-vals='js:{
                          "id": {{ .Id }}, 
                          "ServerId": {{ .ServerId }},
                          "DaysLeft": {{ .DaysLeft }},
                          "AppType": "{{ .AppType }}",
                          "Domain": "{{ .Domain }}"
                        }'
                        hx-include="[id='SwitchSaveOnServer-{{ .Id }}']"
                        hx-on::after-request="
                          if (event.detail.xhr.responseText) {
                            try {
                              const response = JSON.parse(event.detail.xhr.responseText);
                              if (response.status === 'error') {
                                Swal.fire({
                                  showClass: { popup: 'animate__animated animate__fadeInUp animate__fast' },
                                  hideClass: { popup: 'animate__animated animate__fadeOutDown animate__fast' },
                                  customClass: 'custom-alert',
                                  icon: 'error',
                                  title: 'Ошибка',
                                  text: response.message,
                                  confirmButtonColor: '#3085d6'
                                });
                              } else if (response.status === 'success') {
                                Swal.fire({
                                  showClass: { popup: 'animate__animated animate__fadeInUp animate__fast' },
                                  hideClass: { popup: 'animate__animated animate__fadeOutDown animate__fast' },
                                  customClass: 'custom-alert',
                                  icon: 'success',
                                  title: 'Успешно',
                                  text: `Сертификат для домена ${response.domain} был успешно восстановлен`,
                                  confirmButtonColor: '#3085d6'
                                }).then(() => {
                                  htmx.ajax('GET', '/cert_list_revoke?ServerId={{ .ServerId }}', {
                                    target: '#response', 
                                    swap: 'innerHTML',  
                                  });
                                });
                              }
                            } catch (e) {
                              console.error('Ошибка при обработке ответа:', e);
                            }
                          }
                        "
                        onClick="const { value: domainRollback } = Swal.fire({
                        showClass: {
                        popup: `
                          animate__animated
                          animate__fadeInUp
                          animate__fast
                        `
                        },
                        hideClass: {
                          popup: `
                            animate__animated
                            animate__fadeOutDown
                            animate__fast
                          `
                        },
                        customClass: 'custom-alert',
                        input: 'text',
                        title: 'Вы уверены, что хотите отменить отзыв сертификата? - {{ .Domain }}?', 
                        text: 'Для подтверждения введите {{ .Domain }}', 
                        showCancelButton: true,
                        confirmButtonColor: '#983636',
                        cancelButtonColor: '#3085d6',
                        confirmButtonText: 'Yes, rollback!',
                        
                        inputValidator: (value) => {
                        if (value != '{{ .Domain }}') {
                          return 'Вы ввели не верное имя сертификата, введите {{ .Domain }}';
                        }
                      }
                      }).then((result) => {
                        if (result.isConfirmed) {
                          htmx.trigger(this, 'rollback'); 
                        }
                      });"
                        >
                          <span class="btn-text">Rollback</span>
                          <img src="/static/svg/time.svg" class="time-svg htmx-indicator">
                        </button>
                        </div>
                      </td>
                      <!-- Save on server -->
                      <td class="th-text-center">{{ if .SaveOnServer }}Yes{{ else }}No{{ end }}</td>
                      <td>
                          <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="SwitchSaveOnServer-{{ .Id }}" name="SaveOnServer" {{ if .SaveOnServer }}checked{{ end }}>
                          </div>
                      </td>
                      <!-- Remove -->
                      <td class="th-text-center">
                        <button class="btn-trash" name="id" value="{{ .Id }}" type="number" hx-trigger='remove' hx-post="/remove_cert" hx-target=".cert_id_{{ .Id }}" hx-ext="json-enc-custom" parse-types="true" 
                        hx-on::after-request="
                          if (event.detail.xhr.responseText) {
                            try {
                              const response = JSON.parse(event.detail.xhr.responseText);
                              if (response.status === 'error') {
                                Swal.fire({
                                  showClass: { popup: 'animate__animated animate__fadeInUp animate__fast' },
                                  hideClass: { popup: 'animate__animated animate__fadeOutDown animate__fast' },
                                  customClass: 'custom-alert',
                                  icon: 'error',
                                  title: 'Ошибка',
                                  text: response.message,
                                  confirmButtonColor: '#3085d6'
                                });
                              }
                            } catch (e) {
                              console.error('Ошибка при обработке ответа:', e);
                            }
                          }
                        "
                        onClick="const { value: domainRemove } = Swal.fire({
                        showClass: {
                        popup: `
                          animate__animated
                          animate__fadeInUp
                          animate__fast
                        `
                        },
                        hideClass: {
                          popup: `
                            animate__animated
                            animate__fadeOutDown
                            animate__fast
                          `
                        },
                        customClass: 'custom-alert',
                        input: 'text',
                        title: 'Вы уверены, что хотите удалить сертификат - {{ .Domain }}?', 
                        text: 'Для подтверждения введите {{ .Domain }}', 
                        showCancelButton: true,
                        confirmButtonColor: '#983636',
                        cancelButtonColor: '#3085d6',
                        confirmButtonText: 'Yes, delete!',
                        
                        inputValidator: (value) => {
                        if (value != '{{ .Domain }}') {
                          return 'Вы ввели не верное имя сертификата, введите {{ .Domain }}';
                        }
                      }
                      }).then((result) => {
                        if (result.isConfirmed) {
                          htmx.trigger(this, 'remove'); 
                        }
                      });"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="trash" viewBox="0 0 16 16">
                              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                            </svg>
                        </button>
                        </td>
                  </tr>
                {{ end }}
              {{ else }}
                <tr>
                  <td colspan="8">No server selected or no revoked certs</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              {{ end }}
            </tbody>
            </table>

          </div>
        </div>
      </div>
    


{{end}}