{{template "header-tpl" .}}
{{template "menu-tpl" .}}
{{template "body-tpl" .}}

<!-- <div class="containers"> -->
    <div class="row">
      <div class="col-md-3">
        <div class="left-core">
          <!-- Левая панель с серверами -->
          <div id="search-server" class="search-input-container-server">
            <input type="text" class="search-input" name="search-server" placeholder="Search servers">
          </div>
            {{template "serverListRevokeCerts-tpl" .}}
        </div>
      </div>

      <div class="col-md-6">
        <!-- Правая панель с формой для создания сертификата -->
        <div class="core-certs">
          <div id="search-certs" class="search-input-container-revoke">
            <input type="text" class="search-input" name="search-certs" placeholder="Search certs">
          </div>
          <div id="response" class="certs_revoke_table">
            {{template "certRevokeList-tpl" .}}
          </div>
        </div>
      </div>
    </div>

<!-- index end template -->
{{template "footer-tpl" .}}
<!-- </div>
</body>
</html> -->
